In [178]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures

In [179]:
def removeValue(givenlist, valuelist):
    # Traverse the value list
    for value in valuelist:
       # using while loop to remove all occurrences of given value
        while(value in givenlist):
            # removing the value using remove()
            givenlist.remove(value)
           # return the list
    return givenlist

In [180]:
df = pd.read_csv("data/boligsiden_2.csv")

In [181]:
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [182]:
df.drop("Unnamed: 0.1", axis = 1, inplace = True)

In [183]:
df

,addressType,basementArea,caseUrl,energyLabel,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,perAreaPrice,...,priceChangePercentage,yearBuilt,municipalityCode,numberOfBuildings,zipCode,municipality,latitude,longitude,basement,lot
0,villa,60.0,https://www.brikk.dk/ejendom/industrivej-2-662...,d,210.0,1233.0,1718,2.0,6.0,4629.0,...,0.00,1968.0,575,1,6622,Vejen,55.571290,9.146651,1,1
1,farm,0.0,https://www.estaldo.com/listing/22fa0be5-dd95-...,e,472.0,84093.0,2334,1.0,4.0,6345.0,...,0.00,1936.0,860,1,9800,Hjørring,57.416790,9.964815,0,1
2,villa,127.0,https://www.brikk.dk/ejendom/storegade-33-6640...,e,124.0,614.0,2169,3.0,5.0,9783.0,...,0.00,1945.0,621,1,6640,Kolding,55.479263,9.298074,1,1
3,villa,69.0,http://www.nybolig.dk/maegler/pages/property-p...,e,69.0,497.0,2415,2.0,2.0,23841.0,...,0.00,1946.0,400,1,3700,Bornholm,55.109230,14.709151,1,1
4,villa,80.0,https://www.danbolig.dk?propertyid=0950000496&...,c,179.0,1078.0,3634,2.0,5.0,31648.0,...,0.00,1961.0,630,1,7100,Vejle,55.694424,9.553193,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,villa,0.0,https://home.dk/sag/8010000572,c,143.0,1062.0,1658,2.0,4.0,4741.0,...,0.00,1900.0,813,1,9900,Frederikshavn,57.473946,10.481430,0,1
9996,villa,0.0,http://www.estate-maeglerne.dk/maegler/pages/p...,d,232.0,1214.0,6232,1.0,6.0,33174.0,...,0.00,1961.0,190,1,3500,Furesø,55.756330,12.415566,0,1
9997,villa,0.0,https://www.danbolig.dk?propertyid=0140000466&...,d,134.0,1027.0,1692,2.0,3.0,18058.0,...,0.00,1947.0,316,1,4340,Holbæk,55.593227,11.750100,0,1
9998,condo,0.0,https://www.danbolig.dk?propertyid=2100000090&...,a2010,95.0,0.0,3085,5.0,3.0,57842.0,...,-1.79,1989.0,101,1,2400,København,55.705082,12.531357,0,0
9999,holiday house,0.0,https://home.dk/sag/2100000610,NaN,92.0,74918.0,2893,2.0,4.0,21685.0,...,0.00,1979.0,400,1,3770,Bornholm,55.276905,14.760906,0,1

In [184]:
drop_list = ["caseUrl", "latitude", "longitude", "zipCode", "municipality", "perAreaPrice", "priceChangePercentage"]

In [185]:
X = df.drop(drop_list, axis = 1)

In [186]:
X.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [187]:
X = X.reset_index(drop=True)

In [188]:
X

,addressType,basementArea,energyLabel,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,priceCash,yearBuilt,municipalityCode,numberOfBuildings,basement,lot
0,villa,60.0,d,210.0,1233.0,1718,2.0,6.0,1148000,1968.0,575,1,1,1
1,farm,0.0,e,472.0,84093.0,2334,1.0,4.0,2995000,1936.0,860,1,0,1
2,villa,127.0,e,124.0,614.0,2169,3.0,5.0,2095000,1945.0,621,1,1,1
3,villa,69.0,e,69.0,497.0,2415,2.0,2.0,1645000,1946.0,400,1,1,1
4,villa,80.0,c,179.0,1078.0,3634,2.0,5.0,5665000,1961.0,630,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8670,terraced house,0.0,c,139.0,218.0,3759,2.0,4.0,3475000,1959.0,253,1,0,1
8671,villa,0.0,c,143.0,1062.0,1658,2.0,4.0,695000,1900.0,813,1,0,1
8672,villa,0.0,d,232.0,1214.0,6232,1.0,6.0,7995000,1961.0,190,1,0,1
8673,villa,0.0,d,134.0,1027.0,1692,2.0,3.0,2595000,1947.0,316,1,0,1
8674,condo,0.0,a2010,95.0,0.0,3085,5.0,3.0,5495000,1989.0,101,1,0,0

In [189]:
address_dummies = pd.get_dummies(X["addressType"])
energy_dummies = pd.get_dummies(X["energyLabel"])
municipality_dummies =  pd.get_dummies(X["municipalityCode"])

In [190]:
y = X["priceCash"]

In [191]:
X = X.drop("priceCash", axis = 1)

In [192]:
X_variables = X.columns.values.tolist()

In [193]:
X_variables = removeValue(X_variables, ["addressType", "energyLabel", "municipalityCode"])

In [194]:
X_variables

['basementArea',
 'housingArea',
 'lotArea',
 'monthlyExpense',
 'numberOfFloors',
 'numberOfRooms',
 'yearBuilt',
 'numberOfBuildings',
 'basement',
 'lot']

In [195]:
X

,addressType,basementArea,energyLabel,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,yearBuilt,municipalityCode,numberOfBuildings,basement,lot
0,villa,60.0,d,210.0,1233.0,1718,2.0,6.0,1968.0,575,1,1,1
1,farm,0.0,e,472.0,84093.0,2334,1.0,4.0,1936.0,860,1,0,1
2,villa,127.0,e,124.0,614.0,2169,3.0,5.0,1945.0,621,1,1,1
3,villa,69.0,e,69.0,497.0,2415,2.0,2.0,1946.0,400,1,1,1
4,villa,80.0,c,179.0,1078.0,3634,2.0,5.0,1961.0,630,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8670,terraced house,0.0,c,139.0,218.0,3759,2.0,4.0,1959.0,253,1,0,1
8671,villa,0.0,c,143.0,1062.0,1658,2.0,4.0,1900.0,813,1,0,1
8672,villa,0.0,d,232.0,1214.0,6232,1.0,6.0,1961.0,190,1,0,1
8673,villa,0.0,d,134.0,1027.0,1692,2.0,3.0,1947.0,316,1,0,1
8674,condo,0.0,a2010,95.0,0.0,3085,5.0,3.0,1989.0,101,1,0,0

In [196]:
#X = pd.concat([X, pd.get_dummies(X["addressType"]), pd.get_dummies(X["energyLabel"]), pd.get_dummies(X["municipalityCode"])], axis=1)

In [197]:
drop_list_2 = ["addressType", "energyLabel", "municipalityCode"]

In [198]:
X = X.drop(drop_list_2, axis = 1)

In [199]:
X.numberOfBuildings.unique()

array([1], dtype=int64)

In [200]:
X = X.drop("numberOfBuildings", axis = 1) # drop number of buildings - those with more than one building (mostly farms) had NAN values for some variables

In [ ]:
X

,basementArea,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,yearBuilt,basement,lot
0,60.0,210.0,1233.0,1718,2.0,6.0,1968.0,1,1
1,0.0,472.0,84093.0,2334,1.0,4.0,1936.0,0,1
2,127.0,124.0,614.0,2169,3.0,5.0,1945.0,1,1
3,69.0,69.0,497.0,2415,2.0,2.0,1946.0,1,1
4,80.0,179.0,1078.0,3634,2.0,5.0,1961.0,1,1
...,...,...,...,...,...,...,...,...,...
8670,0.0,139.0,218.0,3759,2.0,4.0,1959.0,0,1
8671,0.0,143.0,1062.0,1658,2.0,4.0,1900.0,0,1
8672,0.0,232.0,1214.0,6232,1.0,6.0,1961.0,0,1
8673,0.0,134.0,1027.0,1692,2.0,3.0,1947.0,0,1
8674,0.0,95.0,0.0,3085,5.0,3.0,1989.0,0,0

In [117]:
X.columns = X.columns.astype(str)

In [118]:
y.shape

(8675,)

## 1. Only variables regarding the House itself

['basementArea',
 'housingArea',
 'lotArea',
 'monthlyExpense',
 'numberOfFloors',
 'numberOfRooms',
 'yearBuilt',
 'basement',
 'lot']

In [203]:
from sklearn.linear_model import LassoCV

In [204]:
reg = LassoCV(cv=5, random_state=0).fit(X, y)

reg.score(X, y)

0.6216902731458807

In [205]:
reg.get_params()

{'alphas': None,
 'copy_X': True,
 'cv': 5,
 'eps': 0.001,
 'fit_intercept': True,
 'max_iter': 1000,
 'n_alphas': 100,
 'n_jobs': None,
 'normalize': 'deprecated',
 'positive': False,
 'precompute': 'auto',
 'random_state': 0,
 'selection': 'cyclic',
 'tol': 0.0001,
 'verbose': False}

In [210]:
#reg.path(X,y)

In [211]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler = scaler.fit(X)

X_standard = scaler.transform(X)

X_standard = pd.DataFrame(X_standard, columns = X.columns)

X_standard

,basementArea,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,yearBuilt,basement,lot
0,1.193486,1.316691,-0.118476,-0.724790,0.265804,0.974301,0.320889,1.707253,0.561241
1,-0.409643,5.849888,4.433707,-0.319420,-0.601057,-0.209710,-0.244396,-0.585736,0.561241
2,2.983647,-0.171306,-0.152482,-0.428001,1.132666,0.382296,-0.085410,1.707253,0.561241
3,1.433955,-1.122931,-0.158910,-0.266116,0.265804,-1.393721,-0.067745,1.707253,0.561241
4,1.727862,0.780320,-0.126991,0.536070,0.265804,0.382296,0.197233,1.707253,0.561241
...,...,...,...,...,...,...,...,...,...
8670,-0.409643,0.088229,-0.174238,0.618328,0.265804,-0.209710,0.161903,-0.585736,0.561241
8671,-0.409643,0.157438,-0.127870,-0.764274,0.265804,-0.209710,-0.880343,-0.585736,0.561241
8672,-0.409643,1.697341,-0.119519,2.245732,-0.601057,0.974301,0.197233,-0.585736,0.561241
8673,-0.409643,0.001717,-0.129793,-0.741900,0.265804,-0.801715,-0.050079,-0.585736,0.561241
8674,-0.409643,-0.673072,-0.186214,0.174790,2.866388,-0.801715,0.691858,-0.585736,-1.781765

In [212]:
reg = LassoCV(cv=5, random_state=0).fit(X_standard, y)

reg.score(X_standard, y)

0.6291861488563917